<div id="modal-partiesNew" class="hide">
	<div class="form">
		
		<div class="form-header">
			<p><ng-container *ngIf="this.party == undefined || !this.party.id">	Crear</ng-container>
				<ng-container *ngIf="this.party !== undefined && this.party.id">	Editar</ng-container> 
				partido
		</p>
		</div>
			
			<div class="form-body">
				<form action="">
					<div class="row">
						<div class="text-left">
							<div class="imagen">
									<span>
										<div class="foto" [ngClass]="{'avatar': !form.image}">
                  		<img [src]="form.image" alt="" *ngIf="form.image">
                		</div>
									</span>
									<input #avatar type='file' accept="image/*" class="hidden" (change)="loadImage($event)">
									<button type="button" class="agregar-img" (click)="avatar.click()">
									<i class="fa fa-camera" aria-hidden="true"></i></button>
								</div>
						</div>
					</div>
					<div class="form-group">
						<label>Nombre *</label>
						<input type="text" [(ngModel)]="form.name" name="name">
					</div>
					<div class="form-group">
						<label>Color *</label><br>
						<input class="input-color" [colorPicker]="form.color" (colorPickerChange)="form.color=$event" [style.background]="form.color" [value]="form.color" [(ngModel)]="form.color" name="color">
					</div>
					<article class="col-xs-12">
            <ul class="list-inline">
              <li>
               <label>Estado {{ form.status == 1 ? 'Activo' : 'Inactivo' }}</label>
              </li>
              <li>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="form.status" [checked]="form.status" name="status">
                  <span class="slider round"></span>
                </label>
              </li>
            </ul>
          </article>
				</form>
			</div>
			<div class="form-footer">
				<button type="button" class="btn btn-cancelled" (click)="fadeOut('partiesNew')">Cancelar</button>
				<button type="button" class="btn btn-accepted" [disabled]="isDisabled()" (click)="save()">
					<ng-container *ngIf="this.party == undefined || !this.party.id">	Crear</ng-container>
					<ng-container *ngIf="this.party !== undefined && this.party.id">	Editar</ng-container>
				</button>
			</div>
			
		</div>
	</div>