<app-navbar></app-navbar>
<section class="container">
	<div class="row">
		<article class="col-sm-2">
			<app-sidebar></app-sidebar>
		</article>
		<article class="col-sm-10">
			<div class="col-sm-12 row">
				<div class="title col-sm-12">Sondeos</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-8">
					<button type="button" class="btn btn-accepted btn-xs" (click)="fadeIn('probeNew');">Nuevo</button>
				</div>
				<div class="col-sm-4 text-right">
					<div class="search2">
						<div class="item-group">
							<span class="item-addon">
								<i class="icon-search" aria-hidden="true"></i>
							</span>
							<input type="text" [(ngModel)]="search" (keyup)="searchProbe()">
						</div>
					</div>
				</div>
			</div>

			<div class="spinner" *ngIf="loading" style="z-index:9999; position:absolute; left: 44%;">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>

			<div class="col-sm-12">
				<ul class="table2">
					<li>
						<div class="table-head col-sm-12 text-left">
							<div class="col-sm-5">Título</div>
							<div class="col-sm-2">Apertura</div>
							<div class="col-sm-2">Cierre</div>
							<div class="col-sm-1">Enlace</div>
							<div class="col-sm-1">Resultados</div>
							<div class="col-sm-1">Eliminar</div>
						</div>
					</li>
					<div class="body-table white-bg heigth-table" infiniteScroll [infiniteScrollDistance]="2"
						 [infiniteScrollThrottle]="1000" [scrollWindow]="false" [infiniteScrollUpDistance]="1.5" (scrolled)="onScrollDown()">
						<li *ngFor="let p of probe">
							<div class="table-row col-sm-12">
								<div class="col-sm-5">{{p.title}}</div>
								<div class="col-sm-2">{{p.start_at | date:'dd/MM/yyyy'}}</div>
								<div class="col-sm-2">{{p.end_at | date:'dd/MM/yyyy'}}</div>
								<div class="col-sm-1" align="center" *ngIf="p.link">
									<a class="button" [href]="p.link" target="_blank">
										<i class="icon-link button" aria-hidden="true"></i>
									</a>
								</div>
								<div class="col-sm-1" *ngIf="!p.link"></div>
								<div class="col-sm-1" align="center">
									<a class="button" [routerLink]="['/probe-results', p.id]">
										<i class="icon-vote button" aria-hidden="true"></i>
									</a>
								</div>
								<div class="col-sm-1 text-center">
									<a class="button" data-toggle="modal" data-target="#modal-delete" href="#modal-delete" (click)="setId(p.id)">
										<i class="icon-trash" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</li>
					</div>
				</ul>
			</div>
		</article>
	</div>
</section>
<modal-delete [id]="IdDelete" (emmiterAccept)="deleteProbe($event)"></modal-delete>
<probe-new (sendData)="recivedData()"></probe-new>