<div id="modal-session" class="hide">
  <div class="form">

    <div class="form-header">Iniciar Live Streaming</div>

    <div class="form-body">
      <p *ngIf="commission">{{ commission.name }}</p>
      <form>
        <div class="form-group">
          <div class="input-group">
            <label>Enlace</label>
            <div class="input-group-addon">https://www.youtube.com/embed/</div>
            <input type="text" placeholder="Codigo del streaming" style="padding: 0;" [(ngModel)]="streamingCode" name="streamingCode"
              (keyup)="setUrl()">
          </div>
        </div>
        <div class="form-group">
          <label>
            Previsualización
          </label>
          <div *ngIf="urlVideo" class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" [src]="urlVideo|domSeguro" frameborder="0" allow="encrypted-media"  allowfullscreen></iframe>
          </div>
        </div>
      </form>

    </div>
    <div class="form-footer">
      <button type="button" class="btn btn-cancelled" (click)="fadeOut('session')">Cancelar</button>
      <button type="button" class="btn btn-accepted" (click)="init()" [disabled]="!urlVideo">Iniciar</button>
    </div>
  </div>
</div>
