<app-navbar></app-navbar>
<section class="container">
<div class="row">
  <article class="col-sm-2">
  <app-sidebar></app-sidebar>
</article>
<article class="col-sm-10">
  <div class="col-sm-12 row">
    <div class="title col-sm-12">Administradores</div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <button type="button" class="btn btn-accepted btn-xs" (click)="administrator = {}; fadeIn('administrator');">Nuevo</button>
    </div>
    <div class="spinner" *ngIf="loading" style="z-index:9999; position:absolute;left:47%;">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <div class="col-sm-4 text-right">
      <div class="search2">
        <div class="item-group">
          <span class="item-addon"><i class="icon-search" aria-hidden="true"></i></span>
          <input type="text" [(ngModel)]="filtered">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <ul class="table2">
      <li>
        <div class="table-head col-sm-12 text-left">
          <div class="col-sm-3">Nombre</div>
          <div class="col-sm-2">Correo</div>
          <div class="col-sm-2">Rol</div>
          <div class="col-sm-2 text-center">Editar</div>
          <div class="col-sm-2 text-center">Eliminar</div>
        </div>
      </li>
      <div class="body-table white-bg">
        <li *ngFor="let administrator of administrators | filterBy:{fullname: filtered}">
          <div class="table-row col-sm-12">
            <div class="col-sm-3">{{ administrator.fullname }}</div>
            <div class="col-sm-2">{{ administrator.email }}</div>
            <div class="col-sm-2">{{ administrator.role.label }}</div>
            <div class="col-sm-2 text-center">
              <a class="button" (click)="update(administrator.id);">
                <i class="icon-pencil button" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col-sm-2 text-center">
              <a class="button" data-toggle="modal" data-target="#modal-delete" href="#modal-delete" (click)="administrator_id = administrator.id">
                <i class="icon-trash" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</article>
</div>
</section>
<modal-delete [id]="administrator_id" (emmiterAccept)="delete()"></modal-delete>
<administrator-new [administrator]="administrator" (emmiteAdministrator)="store($event)"></administrator-new>