<div class="modal fade " id="modal-close" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        ¿Esta seguro que desea cerrar la sesión?
      </div>
      <div class="modal-footer">
        <button class="btn btn-cancelled btn-xs" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-accepted btn-xs" data-dismiss="modal" (click)="close()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
