<div class="modal fade " id="modal-delete" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        ¿Esta seguro que desea eliminar el elemento?
      </div>
      <div class="modal-footer">
        <button class="btn btn-cancelled btn-xs" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-accepted btn-xs" (click)="delete()" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
