<div class="modal fade " id="modal-password" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      <p>Cambio contraseña</p>
    </div>
      <div class="form">
    <div class="form-body">
      <div class="form-group">
        <label for="">Contraseña Actual *</label>
        <input type="password" name="name" [(ngModel)]="form.current_password">
      </div>
      <div class="form-group">
        <label for="">Nueva Contraseña *</label>
        <input type="password" name="name" [(ngModel)]="form.new_password">
      </div>
      <div class="form-group">
        <label for="">Comfirmar Nueva Contraseña *</label>
        <input type="password" name="name" [(ngModel)]="form.confirm_new_password">
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-cancelled btn-xs" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-accepted btn-xs" data-dismiss="modal" [disabled]="!form.current_password || (form.new_password != form.confirm_new_password)" (click)="_sendRequest()">Cambiar Contraseña</button>
      </div>
    </div>
  </div>
</div>