<div class="modal fade " id="modal-reset-password" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      <p>Recuperar contraseña</p>
    </div>
      <div class="form">
    <div class="form-body">
      <div class="form-group">
        <label for="">Correo Electrónico *</label>
        <input type="email" name="name" [(ngModel)]="form.email">
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-cancelled btn-xs" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-accepted btn-xs" data-dismiss="modal" [disabled]="!form.email" (click)="_sendRequest()">Recuperar Contraseña</button>
      </div>
    </div>
  </div>
</div>